$vl-pswp-assets-path: '~@govflanders/vl-ui-core/dist/img/lightbox/';
$vl-font-location: '~@govflanders/vl-ui-core/dist/font/flanders/';
$vl-icon-font-location: '~@govflanders/vl-ui-core/dist/font/iconfont/';

@import '~@govflanders/vl-ui-core/src/scss/core';
@import '~@govflanders/vl-ui-alert/src/scss/alert';
@import '~@govflanders/vl-ui-button/src/scss/button';
@import '~@govflanders/vl-ui-icon/src/scss/icon';
@import '~@govflanders/vl-ui-titles/src/scss/titles';
@import '~@govflanders/vl-ui-typography/src/scss/typography';
@import '~@govflanders/vl-ui-util/src/scss/util';
@import "~@govflanders/vl-ui-content-header/src/scss/content-header";
@import "~@govflanders/vl-ui-introduction/src/scss/introduction";
@import "~@govflanders/vl-ui-infotext/src/scss/infotext";
@import "~@govflanders/vl-ui-titles/src/scss/titles";
@import "~@govflanders/vl-ui-drawer/src/scss/drawer";
@import "~@govflanders/vl-ui-dynamic-drawer/src/scss/dynamic-drawer";
@import "~@govflanders/vl-ui-link/src/scss/link";
@import "~@govflanders/vl-ui-toggle/src/scss/toggle";
@import "~@govflanders/vl-ui-infoblock/src/scss/infoblock";
@import "~@govflanders/vl-ui-data-table/src/scss/data-table";
@import '~@govflanders/vl-ui-description-data/src/scss/description-data';
@import '~@govflanders/vl-ui-introduction/src/scss/introduction';
@import '~@govflanders/vl-ui-spotlight/src/scss/spotlight';
@import '~@govflanders/vl-ui-link-list/src/scss/link-list';
@import '~@govflanders/vl-ui-input-field/src/scss/input-field';
@import '~@govflanders/vl-ui-icon-list/src/scss/icon-list';
