$vl-pswp-assets-path: '~@govflanders/vl-ui-core/dist/img/lightbox/';
$vl-font-location: '~@govflanders/vl-ui-core/dist/font/flanders/';
$vl-icon-font-location: '~@govflanders/vl-ui-core/dist/font/iconfont/';

@import '@govflanders/vl-ui-design-system-style/build/index.css';
